@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/auth.css">
</head>

<body>
    <div class="signup-container">
        <div class="form-container">
            <h2 class="form-title">Forgot Password</h2>
            <form asp-action="ForgotPassword" asp-controller="Auth" class="d-flex flex-column gap-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email" required />
                </div>
                <div>
                    <button type="submit" value="Create" class="btn btn-block auth-btn">Submit</button>
                </div>
            </form>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-info mt-3">@ViewBag.Message</div>
            }
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>